# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Zml0dGluZy1mb3dsLTc0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_BoaNEjtLinyLdL95Br3a1HQX5AgGJOK0C4CUcA2UdS
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lydlgltenphtmetifayt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5ZGxnbHRlbnBodG1ldGlmYXl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MTg4NTYsImV4cCI6MjA5OTQ5NDg1Nn0.2ctPD8HnPAqRHaS1HpkTRa_WBGusbyCNX4WH9KizL5E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5ZGxnbHRlbnBodG1ldGlmYXl0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzkxODg1NiwiZXhwIjoyMDk5NDk0ODU2fQ.BB_cDLVy_4F8oQSCtVpAwKMfXMYPLeS2PkIPdDSGwSQ